* {
    margin: 0;
    padding: 0;
}
body {
    
  display: flex;
  padding: 0 3px;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
}
/* .img img {
    height: 200px;
    border-radius: 80px;
    margin-left: 85vh;
    margin-top: 10px;
} */
p {
    margin-top: 30px;
    text-align: center;text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    
}